.shimmer {
  background: linear-gradient(-45deg, #1d1c1c 40%, #2d2d2d 50%, #1d1c1c 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
}
@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}
