@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active-class .outer-div{
  background-color: #EA7C69;
}
.active-class .outer-div .icon{
  color: white;
}
.icon{
  color: #EA7C69;
}
.nonScrollable-div{
  overflow: hidden !important;
}
/* .hide-scrollbar{
  overflow: auto;
} */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.active-dish-btn{
  border-bottom: 1px solid #f0563c;
  color: #d98677;
}

.customField{
  display: inline-block;
  background-color: red;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover, .CalendarDay__selected_span, .CalendarDay__hovered_span, .CalendarDay__hovered_span:hover{
  background-color: #e66c57 !important;
  color:white !important;
  border: 1px solid #e66c57 !important;
}
.DateInput_input__focused{
  border-bottom: 2px solid #e66c57 !important;
}
.DateInput_input, .DateRangePickerInput__withBorder{
  background-color: rgb(105 78 73) !important;
  border: 1px solid rgb(105 78 73) !important;
}
.DateInput_input::placeholder, .DateInput_input__focused::placeholder, .DateInput_input, .DateRangePickerInput_arrow{
  color:white !important;
}
.DateRangePickerInput_arrow_svg{
  fill: white !important;
}

.disableEntity{
  pointer-events: none;
    opacity: 0.4;
}