@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active-class .outer-div{
  background-color: #EA7C69;
}
.active-class .outer-div .icon{
  color: white;
}
.icon{
  color: #EA7C69;
}
.hide-scrollbar{
  overflow: auto;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.active-dish-btn{
  border-bottom: 1px solid #f0563c;
  color: #d98677;
}

.customField{
  display: inline-block;
  background-color: red;
}